node_modules
.env
.output
.DS_Store
.vercel
.nuxt

# Monorepo
apps/store/.nuxt
apps/store/.output
apps/admin/.nuxt
apps/admin/.output

# IDE
.idea
.vscode
.continue
*.swp
*.swo


# System files
Users/
packages/

# Archivos temporales de plantillas (no versionar)
Publicar-*.xlsx
*.csv
/tmp/
